doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title
      | White-space and character 160 | Adam Koch
    link(rel='profile' href='https://gmpg.org/xfn/11')
    link(rel='stylesheet' type='text/css' media='all' href='https://wordpress.adamkoch.com/wp-content/themes/twentyeleven/style.css?ver=20190507')
    link(rel='pingback' href='https://wordpress.adamkoch.com/xmlrpc.php')
    //
      [if lt IE 9]>
      <script src="https://wordpress.adamkoch.com/wp-content/themes/twentyeleven/js/html5.js?ver=3.7.0" type="text/javascript"></script>
      <![endif]
    meta(name='robots' content='max-image-preview:large')
    link(rel='dns-prefetch' href='//secure.gravatar.com')
    link(rel='dns-prefetch' href='//s.w.org')
    link(rel='dns-prefetch' href='//v0.wordpress.com')
    link(rel='dns-prefetch' href='//i0.wp.com')
    link(rel='dns-prefetch' href='//i1.wp.com')
    link(rel='dns-prefetch' href='//i2.wp.com')
    link(rel='alternate' type='application/rss+xml' title='Adam Koch &raquo; Feed' href='https://wordpress.adamkoch.com/feed/')
    link(rel='alternate' type='application/rss+xml' title='Adam Koch &raquo; Comments Feed' href='https://wordpress.adamkoch.com/comments/feed/')
    link(rel='alternate' type='application/rss+xml' title='Adam Koch &raquo; White-space and character 160 Comments Feed' href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/feed/')
    script(type='text/javascript').
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/wordpress.adamkoch.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8"}};
      !function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
    style(type='text/css').
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    link#wp-block-library-css(rel='stylesheet' href='https://wordpress.adamkoch.com/wp-includes/css/dist/block-library/style.min.css?ver=5.8' type='text/css' media='all')
    style(id='wp-block-library-inline-css' type='text/css').
      .has-text-align-justify{text-align:justify;}
    style(id='wp-block-library-theme-inline-css' type='text/css').
      #start-resizable-editor-section{display:none}.wp-block-audio figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-audio figcaption{color:hsla(0,0%,100%,.65)}.wp-block-code{font-family:Menlo,Consolas,monaco,monospace;color:#1e1e1e;padding:.8em 1em;border:1px solid #ddd;border-radius:4px}.wp-block-embed figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-embed figcaption{color:hsla(0,0%,100%,.65)}.blocks-gallery-caption{color:#555;font-size:13px;text-align:center}.is-dark-theme .blocks-gallery-caption{color:hsla(0,0%,100%,.65)}.wp-block-image figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-image figcaption{color:hsla(0,0%,100%,.65)}.wp-block-pullquote{border-top:4px solid;border-bottom:4px solid;margin-bottom:1.75em;color:currentColor}.wp-block-pullquote__citation,.wp-block-pullquote cite,.wp-block-pullquote footer{color:currentColor;text-transform:uppercase;font-size:.8125em;font-style:normal}.wp-block-quote{border-left:.25em solid;margin:0 0 1.75em;padding-left:1em}.wp-block-quote cite,.wp-block-quote footer{color:currentColor;font-size:.8125em;position:relative;font-style:normal}.wp-block-quote.has-text-align-right{border-left:none;border-right:.25em solid;padding-left:0;padding-right:1em}.wp-block-quote.has-text-align-center{border:none;padding-left:0}.wp-block-quote.is-large,.wp-block-quote.is-style-large{border:none}.wp-block-search .wp-block-search__label{font-weight:700}.wp-block-group.has-background{padding:1.25em 2.375em;margin-top:0;margin-bottom:0}.wp-block-separator{border:none;border-bottom:2px solid;margin-left:auto;margin-right:auto;opacity:.4}.wp-block-separator:not(.is-style-wide):not(.is-style-dots){width:100px}.wp-block-separator.has-background:not(.is-style-dots){border-bottom:none;height:1px}.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots){height:2px}.wp-block-table thead{border-bottom:3px solid}.wp-block-table tfoot{border-top:3px solid}.wp-block-table td,.wp-block-table th{padding:.5em;border:1px solid;word-break:normal}.wp-block-table figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-table figcaption{color:hsla(0,0%,100%,.65)}.wp-block-video figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-video figcaption{color:hsla(0,0%,100%,.65)}.wp-block-template-part.has-background{padding:1.25em 2.375em;margin-top:0;margin-bottom:0}#end-resizable-editor-section{display:none}
    link#mediaelement-css(rel='stylesheet' href='https://wordpress.adamkoch.com/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.16' type='text/css' media='all')
    link#wp-mediaelement-css(rel='stylesheet' href='https://wordpress.adamkoch.com/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=5.8' type='text/css' media='all')
    link#twentyeleven-block-style-css(rel='stylesheet' href='https://wordpress.adamkoch.com/wp-content/themes/twentyeleven/blocks.css?ver=20190102' type='text/css' media='all')
    link#social-logos-css(rel='stylesheet' href='https://wordpress.adamkoch.com/wp-content/plugins/jetpack/_inc/social-logos/social-logos.min.css?ver=9.9.1' type='text/css' media='all')
    link(rel='stylesheet' id='jetpack_css-css' href='https://wordpress.adamkoch.com/wp-content/plugins/jetpack/css/jetpack.css?ver=9.9.1' type='text/css' media='all')
    link(rel='https://api.w.org/' href='https://wordpress.adamkoch.com/wp-json/')
    link(rel='alternate' type='application/json' href='https://wordpress.adamkoch.com/wp-json/wp/v2/posts/1620')
    link(rel='EditURI' type='application/rsd+xml' title='RSD' href='https://wordpress.adamkoch.com/xmlrpc.php?rsd')
    link(rel='wlwmanifest' type='application/wlwmanifest+xml' href='https://wordpress.adamkoch.com/wp-includes/wlwmanifest.xml')
    meta(name='generator' content='WordPress 5.8')
    link(rel='canonical' href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/')
    link(rel='shortlink' href='https://wp.me/p96YVm-q8')
    link(rel='alternate' type='application/json+oembed' href='https://wordpress.adamkoch.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwordpress.adamkoch.com%2F2009%2F07%2F25%2Fwhite-space-and-character-160%2F')
    link(rel='alternate' type='text/xml+oembed' href='https://wordpress.adamkoch.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwordpress.adamkoch.com%2F2009%2F07%2F25%2Fwhite-space-and-character-160%2F&#038;format=xml')
    style(type='text/css').
      img#wpstats{display:none}
    style.
      /* Link color */
      a,
      #site-title a:focus,
      #site-title a:hover,
      #site-title a:active,
      .entry-title a:hover,
      .entry-title a:focus,
      .entry-title a:active,
      .widget_twentyeleven_ephemera .comments-link a:hover,
      section.recent-posts .other-recent-posts a[rel="bookmark"]:hover,
      section.recent-posts .other-recent-posts .comments-link a:hover,
      .format-image footer.entry-meta a:hover,
      #site-generator a:hover {
      color: #2b74a5;
      }
      section.recent-posts .other-recent-posts .comments-link a:hover {
      border-color: #2b74a5;
      }
      article.feature-image.small .entry-summary p a:hover,
      .entry-header .comments-link a:hover,
      .entry-header .comments-link a:focus,
      .entry-header .comments-link a:active,
      .feature-slider a.active {
      background-color: #2b74a5;
      }
    style(type='text/css' id='twentyeleven-header-css').
      #site-title a,
      #site-description {
      color: #2b74a5;
      }
    // Jetpack Open Graph Tags
    meta(property='og:type' content='article')
    meta(property='og:title' content='White-space and character 160')
    meta(property='og:url' content='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/')
    meta(property='og:description' content='I came across a problem in Internet Explorer (it wasn\'t a problem with Firefox) when I was trying to compare two strings. To me, one string looked to have an extra space in the front. No prob…')
    meta(property='article:published_time' content='2009-07-25T19:41:42+00:00')
    meta(property='article:modified_time' content='2012-05-29T16:48:33+00:00')
    meta(property='og:site_name' content='Adam Koch')
    meta(property='og:image' content='https://i0.wp.com/wordpress.adamkoch.com/wp-content/uploads/2016/08/cropped-brainscan-copy-2.jpg?fit=512%2C512&#038;ssl=1')
    meta(property='og:image:width' content='512')
    meta(property='og:image:height' content='512')
    meta(property='og:locale' content='en_US')
    meta(name='twitter:site' content='@aakoch')
    meta(name='twitter:text:title' content='White-space and character 160')
    meta(name='twitter:image' content='https://i0.wp.com/wordpress.adamkoch.com/wp-content/uploads/2016/08/cropped-brainscan-copy-2.jpg?fit=240%2C240&ssl=1')
    meta(name='twitter:card' content='summary')
    // End Jetpack Open Graph Tags
    link(rel='icon' href='https://i0.wp.com/wordpress.adamkoch.com/wp-content/uploads/2016/08/cropped-brainscan-copy-2.jpg?fit=32%2C32&#038;ssl=1' sizes='32x32')
    link(rel='icon' href='https://i0.wp.com/wordpress.adamkoch.com/wp-content/uploads/2016/08/cropped-brainscan-copy-2.jpg?fit=192%2C192&#038;ssl=1' sizes='192x192')
    link(rel='apple-touch-icon' href='https://i0.wp.com/wordpress.adamkoch.com/wp-content/uploads/2016/08/cropped-brainscan-copy-2.jpg?fit=180%2C180&#038;ssl=1')
    meta(name='msapplication-TileImage' content='https://i0.wp.com/wordpress.adamkoch.com/wp-content/uploads/2016/08/cropped-brainscan-copy-2.jpg?fit=270%2C270&#038;ssl=1')
    style(type='text/css' id='wp-custom-css').
      #post-2960 > div > p:nth-child(n+7):nth-child(-n+15) {
      text-indent: 2em;
      }
      
      .aside {
      
      margin:  1em 2em;
      font-family: "Space Monkey", "Times New Roman", times
      
      }
      .aside-top {
      border-top: 1px solid black;
      padding: 1em 0 0;
      }
      
      .aside-middle {
      padding: 0 1em;
      }
      
      .aside-bottom {
      border-bottom: 1px solid black;
      padding: 0 0 1em;
      }
  body.post-template-default.single.single-post.postid-1620.single-format-standard.wp-embed-responsive.single-author.singular.two-column.right-sidebar
    .skip-link
      a.assistive-text(href='#content') Skip to primary content
    #page.hfeed
      header#branding(role='banner')
        hgroup
          h1#site-title
            span
              a(href='https://www.adamkoch.com/' rel='home') Adam Koch
          h2#site-description Software Developer and Clean Code Advocate
        a(href='https://www.adamkoch.com/')
          img(src='https://wordpress.adamkoch.com/wp-content/uploads/2016/08/cropped-brainscan-copy.jpg' width='1000' height='287' alt='Adam Koch')
        nav#access(role='navigation')
          h3.assistive-text Main menu
          .menu-header-container
            ul#menu-header.menu
              li#menu-item-3033(class='menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-3033')
                a(href='https://wordpress.adamkoch.com/posts/') Posts
              li#menu-item-2488(class='menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2488')
                a(href='https://www.adamkoch.com/') About Me
        // #access
      // #branding
      #main
        #primary
          #content(role='main')
            // #nav-single
            article#post-1620.post-1620.post.type-post.status-publish.format-standard.hentry.category-professional.tag-129.tag-ascii.tag-char.tag-character.tag-character-160.tag-charcodeat.tag-internet-explorer.tag-javascript.tag-jquery.tag-linkedin.tag-trim
              header.entry-header
                h1.entry-title White-space and character 160
                .entry-meta
                  span.sep Posted on 
                  a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/' title='1:41 PM ' rel='bookmark')
                    time.entry-date(datetime='2009-07-25T13:41:42-06:00') 2009-07-25
                  span.by-author
                    span.sep  by 
                    span.author.vcard
                      a.url.fn.n(href='https://wordpress.adamkoch.com/author/admin/' title='View all posts by Adam' rel='author') Adam
                // .entry-meta
              // .entry-header
              .entry-content
                style(type='text/css').
                  .pass {
                  background-color: #ADFFAD;
                  }
                  .fail {
                  background-color: #FFADAD;
                  }
                  table#whitespacedata, 
                  table#whitespacedata tr,
                  table#whitespacedata tr td,
                  table#whitespacedata tr th {
                  color: black;
                  border: solid 1px black;
                  }
                  table#whitespacedata, 
                  table#whitespacedata tr,
                  table#whitespacedata tr td,
                  table#whitespacedata tr th {
                  color: black;
                  border: solid 1px black;
                  }
                  table#whitespacedata td,
                  table#whitespacedata th {
                  padding: 3px;
                  }
                p I came across a problem in Internet Explorer (it wasn't a problem with Firefox) when I was trying to compare two strings. To me, one string looked to have an extra space in the front. No problem, I'll just call the 
                  a(href='http://docs.jquery.com/Utilities/jQuery.trim#str') jQuery trim function 
                  | . Well, that didn't work. So I used 
                  a(href='https://developer.mozilla.org/en/Core_JavaScript_1.5_Reference/Global_Objects/String/charCodeAt') charCodeAt 
                  | and found it was ASCII character 160. I looked up 
                  a(title='char code 160' href='http://htmlhelp.com/reference/charset/iso160-191.html') char code 160 
                  | and saw that it is a "Non-breaking space". You would think that a "space" character would be trimmed. I looked at the jQuery code that does the trimming and the grep pattern uses 
                  code \s
                  | . So, evidently you can't use 
                  code \s 
                  | to catch the "Non-breaking space" in IE. I wonder why no one else has seen this. I wrote up a 
                  a(href='../../../../char160test.pug') test page 
                  | to illustrate this. 
                p To create the non-breaking space, you can use 
                  code String.fromCharCode(160) 
                  | or the Unicode representation "\u00A0". "&#160;" doesn't seem to work when using regular expressions, although it behaves the same when printed. 
                table#whitespacedata(border='1' cellspacing='3' cellpadding='3')
                  tbody
                    tr(style='background-color: #ADD6FF')
                      th  Browser
                      th  Evaluates character 160 as white-space 
                    tr.pass
                      td Firefox 3, 3.5
                      td Yes
                    tr.pass
                      td Chrome 3.0
                      td Yes
                    tr.fail
                      td Internet Explorer 7, 8
                      td No
                    tr.fail
                      td Safari 3.2
                      td No
                    tr.pass
                      td Opera 9
                      td Yes
                .sharedaddy.sd-sharing-enabled
                  .robots-nocontent.sd-block.sd-social.sd-social-icon.sd-sharing
                    h3.sd-title Share this:
                    .sd-content
                      ul
                        li.share-twitter
                          a.share-twitter.sd-button.share-icon.no-text(rel='nofollow noopener noreferrer' data-shared='sharing-twitter-1620' href='https://twitter.com/intent/tweet?text=White-space%20and%20character%20160&url=https%3A%2F%2Fwordpress.adamkoch.com%2F2009%2F07%2F25%2Fwhite-space-and-character-160' target='_blank' title='Click to share on Twitter')
                            span
                            span.sharing-screen-reader-text Click to share on Twitter (Opens in new window)
                        li.share-end
                #jp-relatedposts.jp-relatedposts
                  h3.jp-relatedposts-headline
                    em Related
              // .entry-content
              footer.entry-meta
                | This entry was posted in 
                a(href='https://wordpress.adamkoch.com/category/professional/' rel='category tag') Professional 
                | and tagged 
                a(href='https://wordpress.adamkoch.com/tag/160/' rel='tag') 160
                | , 
                a(href='https://wordpress.adamkoch.com/tag/ascii/' rel='tag') ascii
                | , 
                a(href='https://wordpress.adamkoch.com/tag/char/' rel='tag') char
                | , 
                a(href='https://wordpress.adamkoch.com/tag/character/' rel='tag') character
                | , 
                a(href='https://wordpress.adamkoch.com/tag/character-160/' rel='tag') character 160
                | , 
                a(href='https://wordpress.adamkoch.com/tag/charcodeat/' rel='tag') charCodeAt
                | , 
                a(href='https://wordpress.adamkoch.com/tag/internet-explorer/' rel='tag') internet explorer
                | , 
                a(href='https://wordpress.adamkoch.com/tag/javascript/' rel='tag') javascript
                | , 
                a(href='https://wordpress.adamkoch.com/tag/jquery/' rel='tag') jquery
                | , 
                a(href='https://wordpress.adamkoch.com/tag/linkedin/' rel='tag') linkedin
                | , 
                a(href='https://wordpress.adamkoch.com/tag/trim/' rel='tag') trim 
                | by 
                a(href='https://wordpress.adamkoch.com/author/admin/') Adam
                | . Bookmark the 
                a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/' title='Permalink to White-space and character 160' rel='bookmark') permalink
                | .
              // .entry-meta
            // #post-1620
            #comments
              h2#comments-title
                | 13 thoughts on &ldquo;
                span White-space and character 160
                | &rdquo;
              ol.commentlist
                li#li-comment-635.comment.even.thread-even.depth-1
                  article#comment-635.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/ee986461cdab0232028104bd1fb766d0?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/ee986461cdab0232028104bd1fb766d0?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn
                          a.url(href='http://xbhl.net/myhockeyportal' rel='external nofollow ugc') Gino 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-635')
                          time(datetime='2009-07-28T01:24:04-06:00') 2009-07-28 at 1:24 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p You saved me hours of debugging in ie. I was using .innerHTML to insert a php page with a table, and i kept getting a runtime error. I spend a good 2 hours debugging only to finally see your post about you having that error when inserting a form within a form. I looked and indeed the DIV displaying the php table had a form around it. Thanks a lot dude!!! 🙂

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-1704.comment.odd.alt.thread-odd.thread-alt.depth-1
                  article#comment-1704.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/d219af79b45e5891507fda4c4c2139a0?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/d219af79b45e5891507fda4c4c2139a0?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn fred 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-1704')
                          time(datetime='2012-07-22T04:28:02-06:00') 2012-07-22 at 4:28 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p damnit 3 years later and I still run into this bug (with chrome btw)
                        br
                        | it looks like a contenteditable uses 160 as a whitespace in chrome (/webkit?)
                        br
                        | thanks for your insight

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-2224.comment.even.thread-even.depth-1
                  article#comment-2224.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/d5694e2078979e36c783428dbeb29389?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/d5694e2078979e36c783428dbeb29389?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn Ahmed Shaaban 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-2224')
                          time(datetime='2014-01-30T01:23:31-06:00') 2014-01-30 at 1:23 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p dude I ran into the same problem on chrome. I was comparing the text came from text area to white space character (normal ascii 32) and guess what ??? !!!
                        br
                        | some of the spaces where 32 and others where 160
                        br
                        | Thank you for investigating this .. I think you will save so much time and effort for many Devs

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-2234.comment.odd.alt.thread-odd.thread-alt.depth-1
                  article#comment-2234.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/195277453609b61b9e91b57eb063970a?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/195277453609b61b9e91b57eb063970a?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn User 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-2234')
                          time(datetime='2014-02-14T00:48:42-06:00') 2014-02-14 at 12:48 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p Thanks Adam.. Useful Post. Saved my time.. 🙂

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-9497.comment.even.thread-even.depth-1
                  article#comment-9497.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/631455d5d4b076f87c2d21d83fddca96?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/631455d5d4b076f87c2d21d83fddca96?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn BryanB 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-9497')
                          time(datetime='2016-02-09T14:13:54-06:00') 2016-02-09 at 2:13 PM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p Thanks for posting this.  (7 years later) I ran into this with Mulesoft (Java based) parsing engine.  Copy and paste out of browser based displays caused this.

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-11175.comment.odd.alt.thread-odd.thread-alt.depth-1
                  article#comment-11175.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/b0c76547007616c17395639db0037edf?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/b0c76547007616c17395639db0037edf?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn
                          a.url(href='http://johnnysix.net' rel='external nofollow ugc') Johnny 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-11175')
                          time(datetime='2016-12-20T04:56:11-06:00') 2016-12-20 at 4:56 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p Same in Excel &#8211; sheets created opened from an HTML source also have this issue. Excel doesn't find/replace programmatically when searching for a space in vba, but will when using the GUI.

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-12773.comment.even.thread-even.depth-1
                  article#comment-12773.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/ffd30f750840ffacafcd361f2ff2d80e?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/ffd30f750840ffacafcd361f2ff2d80e?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn Leo Orionis on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-12773')
                          time(datetime='2017-09-25T16:58:53-06:00') 2017-09-25 at 4:58 PM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p Editing an HTML page originally created with Microsoft Word, I stripped out all the crap and converted all the inserted special characters to real characters, or in some cases to named HTML characters like &eacute; (lower-case e with an acute accent).  When all that was done, there were still a few random &#160; codes, which I deleted because they served no purpose.
                      p So I guess it's not just Microsoft Internet Explorer, but Microsoft Word as well.  If you actually NEED an extra space somewhere that won't go away, the HTML characters is &nbsp; "non-breaking space."

                    // .reply
                  // #comment-##
                  ul.children
                    li#li-comment-12774.comment.odd.alt.depth-2
                      article#comment-12774.comment
                        footer.comment-meta
                          .comment-author.vcard
                            img.avatar.avatar-39.photo(alt='' src='https://secure.gravatar.com/avatar/ffd30f750840ffacafcd361f2ff2d80e?s=39&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/ffd30f750840ffacafcd361f2ff2d80e?s=78&#038;d=mm&#038;r=r 2x' height='39' width='39' loading='lazy')
                            span.fn Leo Orionis 
                            | on 
                            a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-12774')
                              time(datetime='2017-09-25T17:05:23-06:00') 2017-09-25 at 5:05 PM 
                            span.says said:
                          // .comment-author .vcard
                        .comment-content
                          p Argh!  Didn't expect the HTML codes to be expressed in my comment.  My bad.  It should read "HTML characters like &eacute;" and "the HTML character is &nbsp;".

                        // .reply
                      // #comment-##
                    // #comment-##
                  // .children
                // #comment-##
                li#li-comment-12795.comment.even.thread-odd.thread-alt.depth-1
                  article#comment-12795.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/45d1128be5563f8dcad17417d34c2274?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/45d1128be5563f8dcad17417d34c2274?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn Ruth Regan 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-12795')
                          time(datetime='2017-09-28T08:37:03-06:00') 2017-09-28 at 8:37 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p I have been trying to pull data from an excel file downloaded off chrome into another excel report using vlookups on names and could not get it to work. Thank you so much for highlighting this difference &#8211; turns out my data is riddled with 160s and 32s making them initially non-comparable. You have saved me many hours of troubleshooting!

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-14305.comment.odd.alt.thread-even.depth-1
                  article#comment-14305.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/dd5714bebd10969462bf61b10112b256?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/dd5714bebd10969462bf61b10112b256?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn Garret Peterson 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-14305')
                          time(datetime='2018-02-28T17:38:58-06:00') 2018-02-28 at 5:38 PM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p FYI I just ran into this in Java. Character.isWhitespace returns false for 160, but Character.isSpaceChar returns true.

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-15172.comment.even.thread-odd.thread-alt.depth-1
                  article#comment-15172.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/c9e8d45610789bca1c557ac86ad41721?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/c9e8d45610789bca1c557ac86ad41721?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn Scott 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-15172')
                          time(datetime='2018-07-30T03:13:06-06:00') 2018-07-30 at 3:13 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p So glad I found this article, have spent an age trying to figure out why my Vue component Unit test was failing. Turns out what I thought was a space was&#8230; yes you guessed it a Code 160 non-breaking space.

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-15221.comment.odd.alt.thread-even.depth-1
                  article#comment-15221.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/89972234c7bc2d0acffeb78aa4728be0?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/89972234c7bc2d0acffeb78aa4728be0?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn Kishan 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-15221')
                          time(datetime='2018-08-11T02:23:40-06:00') 2018-08-11 at 2:23 AM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p Some one else too&#8230;
                      p I have formatting and converting currency rates&#8230; And strangely Hungary (country) uses this character as their number group (hundreds) separator and came across this strange character.

                    // .reply
                  // #comment-##
                // #comment-##
                li#li-comment-18971.comment.even.thread-odd.thread-alt.depth-1
                  article#comment-18971.comment
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-68.photo(alt='' src='https://secure.gravatar.com/avatar/26db4e64bd64fc6e56247f90a075412b?s=68&#038;d=mm&#038;r=r' srcset='https://secure.gravatar.com/avatar/26db4e64bd64fc6e56247f90a075412b?s=136&#038;d=mm&#038;r=r 2x' height='68' width='68' loading='lazy')
                        span.fn Neha Kulkarni 
                        | on 
                        a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/#comment-18971')
                          time(datetime='2019-10-29T22:35:38-06:00') 2019-10-29 at 10:35 PM 
                        span.says said:
                      // .comment-author .vcard
                    .comment-content
                      p Just what I was looking for! Ran into this problem with Javascript. Was comparing the formatted numeric values for different locales with the value entered by the user. This was to implement a search function in my application. Finally was frustrated and checked using the charCodeAt() function. And lo! There it was! Will have to explicitly handle this case now.

                    // .reply
                  // #comment-##
                // #comment-##

            // #comments
          // #content
        // #primary
      // #main
      footer#colophon(role='contentinfo')
      // #colophon
    // #page
    script(type='text/javascript').
      window.WPCOM_sharing_counts = {"https:\/\/wordpress.adamkoch.com\/2009\/07\/25\/white-space-and-character-160\/":1620};
    script(type='text/javascript' src='https://wordpress.adamkoch.com/wp-content/plugins/jetpack/_inc/build/photon/photon.min.js?ver=20191001' id='jetpack-photon-js')
    script(type='text/javascript' src='https://wordpress.adamkoch.com/wp-includes/js/wp-embed.min.js?ver=5.8' id='wp-embed-js')
    script(type='text/javascript' id='jetpack_related-posts-js-extra').
      /* <![CDATA[ */
      var related_posts_js_options = {"post_heading":"h4"};
      /* ]]> */
    script(defer type='text/javascript' src='https://wordpress.adamkoch.com/wp-content/plugins/akismet/_inc/form.js?ver=4.1.10' id='akismet-form-js')
    script(type='text/javascript' id='sharing-js-js-extra').
      /* <![CDATA[ */
      var sharing_js_options = {"lang":"en","counts":"1","is_stats_active":"1"};
      /* ]]> */
    script(type='text/javascript' src='https://wordpress.adamkoch.com/wp-content/plugins/jetpack/_inc/build/sharedaddy/sharing.min.js?ver=9.9.1' id='sharing-js-js')
    script(type='text/javascript' id='sharing-js-js-after').
      var windowOpen;
      ( function () {
      function matches( el, sel ) {
      return !! (
      el.matches && el.matches( sel ) ||
      el.msMatchesSelector && el.msMatchesSelector( sel )
      );
      }
      
      document.body.addEventListener( 'click', function ( event ) {
      if ( ! event.target ) {
      return;
      }
      
      var el;
      if ( matches( event.target, 'a.share-twitter' ) ) {
      el = event.target;
      } else if ( event.target.parentNode && matches( event.target.parentNode, 'a.share-twitter' ) ) {
      el = event.target.parentNode;
      }
      
      if ( el ) {
      event.preventDefault();
      
      // If there's another sharing window open, close it.
      if ( typeof windowOpen !== 'undefined' ) {
      windowOpen.close();
      }
      windowOpen = window.open( el.getAttribute( 'href' ), 'wpcomtwitter', 'menubar=1,resizable=1,width=600,height=350' );
      return false;
      }
      } );
      } )();
      var windowOpen;
      ( function () {
      function matches( el, sel ) {
      return !! (
      el.matches && el.matches( sel ) ||
      el.msMatchesSelector && el.msMatchesSelector( sel )
      );
      }
      
      document.body.addEventListener( 'click', function ( event ) {
      if ( ! event.target ) {
      return;
      }
      
      var el;
      if ( matches( event.target, 'a.share-facebook' ) ) {
      el = event.target;
      } else if ( event.target.parentNode && matches( event.target.parentNode, 'a.share-facebook' ) ) {
      el = event.target.parentNode;
      }
      
      if ( el ) {
      event.preventDefault();
      
      // If there's another sharing window open, close it.
      if ( typeof windowOpen !== 'undefined' ) {
      windowOpen.close();
      }
      windowOpen = window.open( el.getAttribute( 'href' ), 'wpcomfacebook', 'menubar=1,resizable=1,width=600,height=400' );
      return false;
      }
      } );
      } )();
    script(src='https://stats.wp.com/e-202131.js' defer)
    script.
      _stq = window._stq || [];
      _stq.push([ 'view', {v:'ext',j:'1:9.9.1',blog:'134651188',post:'1620',tz:'-6',srv:'wordpress.adamkoch.com'} ]);
      _stq.push([ 'clickTrackerInit', '134651188', '1620' ]);
